body{
  background: linear-gradient(to left,rgb(21, 4, 39),rgb(49, 118, 168));
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: white;
}

.container{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100%;
}

.form{
  width: 250px;
  height: 200px;
  background-attachment: black;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding: 20px;
  opacity: 0.5;
  border-radius: 5% ;
}

.submit{
  background-color: rgb(132, 116, 185);
}

input{
  font-size: large;
  size: 20px;
  border-radius: 29%;
  margin: auto;
  margin-top: 10px;
  height: 6px;
  padding: 30px;
}
